<!DOCTYPE html>
<html>
<head>
<title>Status</title>
</head>
<body>

<h1>Status</h1>
<h3><%= games.length %> Games</h3>
<table>
    <thead>
        <tr>
            <th>GameId</th>
            <th>Is Scrapped</th>
            <th>Scrap Date</th>
        </tr>
    </thead>
    <tbody>
        <% games.forEach(function(game) { %>
        <tr>
            <td><%= game.gameId %></td>
            <td><%= game.Scrapped %></td>
            <td><%= game.ScrapDate %></td>
        </tr>
        <% }); %>
    </tbody>
</table>

</script>
</body>
</html>