<!DOCTYPE html>
<html>
<head>
<title>Status</title>
</head>
<body>

<h1>Status</h1>

<ul>
    <% games.forEach(function(game) { %>
        <li>[<%= game.Scrapped %>] <%= game.gameId %></li>
    <% }); %>
</ul>

</script>
</body>
</html>